<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Lien pour biblio Bootstrap -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <!-- Lien pour biblio typo -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css">
    <!-- Lien pour biblio Datatable -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css"/>
    <!-- Lien pour fichier css -->
    <link rel="stylesheet" href="css/styleadmin.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/popup.css">
    <!--Lien pour fichier css MediaQueries-->
    <link rel="stylesheet" href="css/media.css">
    <!-- Icone onglet-->
    <link rel="icon" type="image/png" sizes="16x16" href="images/onglet.png">

    <title> eida SMART</title>

</head>

<body>

<!--MENU-->

<nav class="topnav">
    <img class="logo" id="logoNav" src="images/eidaLogoVer2_2.png">
    <a href="/logout" id="deco"><i class="fas fa-sign-out-alt"></i> <p class="decoResponsive">Se déconnecter</p></a>
</nav> 

<div id="main">

    <div class="alert alert-danger text-center" role="alert" th:text="${error}" th:if="${error}"></div>

    <h1 id="h1Sadmin"> Bienvenue dans votre espace S.administrateur</h1>

    <a href="/sadmin/archiveAdmin"> <button type="submit" class="glow-on-hover" id="btn-archAd"><i class="fas fa-archive" id="iconeArchive2"></i> Consulter les archives</button> </a>

    <!--POP UP AJOUT ADMIN-->

    <div class="container" id="popAdmin">

        <button type="button" class="glow-on-hover" data-toggle="modal" data-target="#modal" id="btn-ajoutAdmin"><i class="fas fa-address-card" id="iconeClient2"></i>Ajouter un administrateur</button>

        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter un administrateur</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">

                        <!--Formulaire-->
                        <div class="content">
                            <form action="/registeradmin" method="POST" id="formSadmin">

                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>Agence :</label>
                                            <input type="text" name="agency" class="form-control" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Prénom :</label>
                                            <input type="text" name="firstName" class="form-control" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nom :</label>
                                            <input type="text" name="lastName" class="form-control" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Numéro de téléphone :</label>
                                            <input type="tel" name="tel" class="form-control" 
                                            pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email :</label>
                                            <input type="email" name="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Adresse :</label>
                                            <input type="text" name="adress" class="form-control" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Code postal :</label>
                                            <input type="number" name="postalCode" class="form-control" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Ville :</label>
                                            <input type="text" name="city" class="form-control" required="Veuillez compléter ce champ">
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Mot de passe :</label> <br>
                                            <input name="password" id="password" type="password" required="Veuillez compléter ce champ" onkeyup='check();'>
                                        </div>
                                    </div>

                                </div>


                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Confirmer le mot de passe :</label> <br>
                                            <input type="password" name="confirm_password" id="confirm_password" onkeyup='check();'required="Veuillez compléter ce champ"/>
                                            <span id='message'></span>
                                        </div>
                                    </div>

                                </div>
                                                

                                <div class="clearfix"></div>

                                <div class="modal-footer">
                                    <button type="button" class="glow-on-hover" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="glow-on-hover">Sauvegarder</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </br>
<div class="table-responsive" id="tableSadmin">
    
    <table id="example" class="table table-striped" style="width:100%">

        <thead class="thead">
            <tr>
                <th>Id administrateur</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Agence</th>
                <th>Mettre à jour</th>
                <th>Supprimer l'administrateur</th>
            </tr>
        </thead>

        <tbody>
        <tr th:each="admin : ${admins}">
            <th th:text="${admin.id}" scope="row">['id_user']</th>
            <td th:text="${admin.lastName}">['name_user']</td>
            <td th:text="${admin.firstName}">['first_name']</td>
            <td th:text="${admin.adress}">['adress']</td>
            <td th:text="${admin.postalCode}">['postal_code']</td>
            <td th:text="${admin.city}">['city']</td>
            <td th:text="${admin.email}">['email']</td>
            <td th:text="${admin.tel}">['num_tel']</td>
            <td th:text="${admin.agencyPlace}">['agency_place']</td>

            <td class="update">

                <!--POP UP UPDATE-->

                <div class="container">

                    <button type="button" id="update" class="glow-on-hover" data-toggle="modal" th:data-target="${'#modal'+admin.id}"><i
                            class="fas fa-edit"></i></button>

                    <div class="modal fade bd-example-modal-lg" th:id="${'modal'+admin.id}" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">

                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title">Modifier le profil</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">x</span></button>
                                </div>

                                <div class="modal-body" id="modal-body-update">
                                    
                                    <div id="accordion">

                                        <!--Formulaire-->
                                        <div class="card">

                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Modifier les coordonnées
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="container">

                                                        <form action="#" data-th-action="@{/updateadmin}" data-th-object="${model}"method="POST">
                                                        
                                                            <input type="hidden" th:value="${admin.id}" name="adminId"/>

                                                            <div class="row">

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Agence</label>
                                                                        <input type="text" name="agency2" class="form-control" th:value="${admin.agencyPlace}" required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Nom</label>
                                                                        <input type="text" name="lastName2" class="form-control" th:value="${admin.lastName}" required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Prénom</label>
                                                                        <input type="text" name="firstName2" class="form-control" th:value="${admin.firstName}" required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Numéro de téléphone</label>
                                                                        <input type="tel" name="tel2" class="form-control" th:value="${admin.tel}"required="Veuillez compléter ce champ"                                                
                                                                        pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Email</label>
                                                                        <input type="email" name="email2" class="form-control" th:value="${admin.email}"required="Veuillez compléter ce champ"
                                                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Adresse</label>
                                                                        <input type="text" name="adress2" class="form-control" th:value="${admin.adress}"required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Code postal</label>
                                                                        <input type="number" name="postalCode2" class="form-control" th:value="${admin.postalCode}"required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Ville</label>
                                                                        <input type="text" name="city2" class="form-control" th:value="${admin.city}"required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Mot de passe :</label> <br>
                                                                        <input name="password2" id="password2" type="password" required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="submit" class="glow-on-hover">Mettre à jour le profil</button>
                                                                </div>
                                                            </div>

                                                        </form>        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card">

                                            <div class="card-header" id="headingTwo">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Modifier le mot de passe
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                                <div class="card-body">
                                                    <div class="container">
                                                        <form action="#" data-th-action="@{/updateadminmdp}" data-th-object="${model}"method="POST">
                                                            <input type="hidden" th:value="${admin.id}" name="adminIdMdp"/>

                                                            <div class="row">

                                                                <div class="col-md-12 col-sm-6">
                                                                    <div class="form-group">
                                                                        <label>Ancien mot de passe :</label> <br>
                                                                        <input type="password" name="password3" required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Nouveau mot de passe :</label> <br>
                                                                        <input name="password4" id="password3" type="password"
                                                                            onkeyup='check3();' required="Veuillez compléter ce champ">
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Confirmer le nouveau mot de passe :</label> <br>
                                                                        <input type="password" name="confirm_password4"
                                                                            id="confirm_password3" onkeyup='check3();' required="Veuillez compléter ce champ"/>
                                                                        <span id='message3'></span>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <button type="submit" class="glow-on-hover">Modifier le mot de passe</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="clearfix"></div>

                                <div class="modal-footer">
                                    <button type="button" class="glow-on-hover" data-dismiss="modal">Fermer</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </td>


            <td>
                <form action="#" data-th-action="@{/disableadmin}" data-th-object="${model}" method="POST"><input
                        type="hidden" th:value="${admin.id}" name="adminId">
                    <button type="submit" id="update" class="glow-on-hover" onclick="return confirm('Etes vous sur de vouloir supprimer cet administrateur ?');"><i
                            class="fas fa-trash-alt"></i></button>
                </form>
            </td>

        </tr>


        </tbody>

    </table>
</div>
</div>

<footer class="fixed-bottom">

    <!--ICONES-->
    <a href="https://www.eida.org/" target="_blank"><img src="images/eidaLogo.png" alt="Logo originel de l'eida" title="Cliquez pour visiter le site de l'eida" id="logoO" ></a>
    <a href="https://www.facebook.com/association.eida"><img src="images/fbicone.png" alt="icone Facebook" id="fb"class="col-1 mb-3"></a>                                                         
    <a href="https://twitter.com/eidaorg"><img src="images/twicone.png" alt="icone Twitter" id="tw"class="col-1 mb-3"></a>                                           
    <a href="https://fr.linkedin.com/company/eida-adigo"><img src="images/lkicone.png" alt="icone linkedin" id="lk"class="col-1 mb-3"></a>
                                                              
</footer>

<script src="js/bootstrap.js"></script>
<script src="js/jquery.js"></script>
<script src="js/popper.js"></script>
<script src="vendor/jquery/jquery-3.5.1.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="vendor/DataTables/datatables.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>

<script src="js/main.js"></script>
<script src="js/menu.js"></script>
<script src="js/app.js"></script>

</body>
</html>